.nav{
  display: flex;
  height: 70px;
  background:var(--white);
  border-bottom: solid var(--red) 1px;;
}

.logo {
  color: var(--red);
  font-weight: bolder;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.search{
  width: 40%;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.links{
  width: 40%;
  display: flex;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
}

.menu{
  display: flex;
  width: 10%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.a{
  color: var(--black);
  text-decoration: none;
  display: inline-block;
  /* margin: 0 20px; */
  font-size: 0.8rem;
  font-weight: bold;
  flex-grow: 1;
  user-select: none;
}

.a:hover{
  color: var(--pink)
}

.isActive{
 color: var(--red);
 text-decoration: none;
}